button {
    margin-bottom: 8px;
    margin-right: 5px;
}

.footer {
    height: 25px;
}

body {
    background: black;
    color: white
}

.artistImage {
    height: 325px;
    width: 100%;
    float: left;
    border: 2px solid white;
    margin: 8px;
}

.image-align {
    width: 32%;
    float: left;
    margin: 3px;
}